@page
@model SlackIntegration.Pages.IndexModel;
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Slack Bot V1</h1>
    <form method = "POST">
        <button asp-page-handler="Edit">bana bas</button>
    </form>
</div>